DATABASE_URL=postgresql://user:password@host:port/database
TEST_DATABASE_URL=postgresql://user:password@host:port/test_database
JWT_SECRET=tokensecret
ALLOWED_ORIGINS="http://public-blog.site,http://cms.blog.site"
AUTHOR_PASSWORD=wannabewriter
